@import url("https://use.typekit.net/zyz2uwk.css");

html {
  /* background-color: #303030; */
}
html::-webkit-scrollbar {display: none;}
body {
  font-size: 14px !important;
  font-family: "proxima-nova", sans-serif;
  /* background-color: #303030; */
}

h1, h3 {margin-top: 0 !important;}

a {color: #0088cc;}
a:hover {color: #0099e6;}
a.text-grey:hover {
  color: rgba(119, 119, 119, 0.7);
  text-decoration: none;
  transition: 0.3s;
}

.bg-primary {
  background-color: #0088cc !important;
}
.bg-cream {
  background-color: #fff3cd;
}
.bg-green {
  background-color: #11af7b;
}
.bg-orange {
  background-color: #e4871c;
}
.bg-purple {
  background-color: #ca57eb;
}
.bg-yellow {
  background-color: #dce228;
}
.box50 {
  width: 50px;
  height: 50px;
}
.fs-11 {
  font-size: 11px;
}
.form-control:focus, .form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
  box-shadow: none;
}
.form-control:focus {
  border-color: #0088CC;
}
.ht-50 {height: 50px;}
.modal-dialog {
  top: 8rem;
}
.mw-358 {
  max-width: 358px;
}
.mw-420 {max-width: 420px;}
.mw-600 {
  max-width: 600px;
}
.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-light .navbar-nav .nav-link {
  color: #0088cc !important;
}

.navbar-light .navbar-nav .nav-link.nav-link:hover {
  color: #0099e6 !important;
  text-decoration: underline;
}

.position-top-right {
    right: 0;
    top: 0;
}

.text-blue {
  color: #0088cc;
}
.text-grey {
  color: #777;
}
.top-140 {
  top: 20%; /* formerly 140px */
}
.w-560 {width: 560px;}
.w-720 {width: 720px;}
.was-validated .form-control:invalid, .form-control.is-invalid {
    background-image: none;
}
#login input {
  font-size: 14px;
}
#login {
  width: 100vw;
  /* height: calc(100vh - 146px); */
  /* min-height: 600px; */
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login h1 {font-weight: 100;}
#login-input-username {
  border-radius: 0.25rem;
  margin-bottom: 1px;
  height: 42px;
  z-index: 1;
}

#login-input-password {
  border-radius: 0 0 0.25rem 0.25rem;
  padding-right: 40px;
  height: 42px;
}
#login-submit {
  top: 4px;
  right: 0;
}
#login-input-username-error {
  border-radius: 0.25rem 0.25rem 0 0;
  margin-bottom: 1px;
  height: 42px;
  z-index: 1;
}

#bg-wrapper {
  background-color: black;
  position: relative;
}

.bg {
  /* background-image: url("../img/malaysia_city2.jpg"); */
  background-image: url("../img/2chair/7 edited.jpg");
  /* background-position: center 75%; */
  background-position: center 100%;
  background-size: cover;
  height: 70%;
  height: calc(100vh - 70px);
}

body.sub-user .bg {
  height: calc(100vh - 124px);
}

@media only screen and (max-width: 347px) {
  /* .bg {
    height: calc(100vh - 160px);
  } */
  body.sub-user .bg {
    height: calc(100vh - 146px);
  }
}

.bg.enter {
  filter: opacity(50%);
  -webkit-filter: opacity(40%);
  /* filter: blur(20px); */
  /* -webkit-filter: blur(20px); */
  /* transition: 500ms; */
}

.photo-caption {
  position: absolute;
  bottom: 130px;
  /*background: rgb(0, 0, 0);  Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  width: 23%;
  padding: 20px 20px 16px 20px;
  border-radius: 0.25rem;
  text-align: left;

}

.photo-caption p {
    color: #f1f1f1 !important;
    /* font-weight: 100; */
    line-height: 1.25rem;
    font-size: 12px;
}
.photo-caption .title {
    font-size: 14px;
    font-weight: 400 !important;
  }
.photo-caption .subtext {
  /* font-weight: 100; */
  color: #bcbcbc !important;
  /* font-size: 0.625rem; */
  font-size: 0.6rem;
  line-height: 1rem !important;
}

@media only screen and (max-width: 1199.98px) {  
  .photo-caption {width: 50%; left:25%;  }
  #login {top: 35%;}
  
}
@media screen and (max-width: 991.98px) {
  .photo-caption {display: none; }
  /* .bg {height: calc(100vh);} */
}

@media screen and (max-width: 767.98px) {
     .top-140 {top:-5%}
  }

  @media screen and (max-width: 575.98px) {
    .top-140 {top:20%}
  }

.mfp-close,
.mfp-close-btn-in .mfp-close {
  font-weight: normal;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.dialog-language {
  max-width: 500px;
}

.language-navigation-list .btn {
  padding-left: 0 !important;
}

.language-navigation-list .btn.btn-link.selected {
  color: #777 !important;
}

#login-invalid-alert {
  font-size: 13px;
  left: 1rem;
  right: 1rem;
  top: 95px;
  z-index: 1;
}

#login-invalid-alert .alert {
  padding-right: 2.5rem;
}

#login-invalid-alert .alert .arrow {
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  left: auto;
  top: -8px;
  background-color: #fff3cd;
  background-image: none;
}

.login-forgotten {
  position: absolute;
  top: 105%; 
  left: 0;
  font-size: 12px;
}

/* .login-footer {
  position: absolute;
  bottom: 5%;
} */


/* footer {
  background-color: #303030;
} */

footer.test {
  background-color: #303030;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mt-10pc {
  margin-top: 10%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mt-10pc {
    margin-top: 20%;
  }
}

/* Start of BUTTONS classes */
.btn {
  padding: 0.35rem 1.25rem;
}

.btn-secondary {
  color: #333 !important;
  background-color: #fff !important;
  border-color: #ccc !important;
  box-shadow: none !important;
}

html .btn-secondary:active, html .btn-secondary.active, .show > html .btn-secondary.dropdown-toggle,
html .btn-primary:active, html .btn-primary.active, .show > html .btn-primary.dropdown-toggle {
  box-shadow: none !important;
}

html .btn-secondary:hover, html .btn-secondary:active, html .btn-secondary:focus {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}

html .btn-secondary:focus, html .btn-secondary.focus,
html .btn-primary:focus, html .btn-primary.focus,
.btn-success:focus, .btn-success.focus,
.btn-info:focus, .btn-info.focus,
.btn-warning:focus, .btn-warning.focus,
.btn-danger:focus, .btn-danger.focus {
  box-shadow: none !important;
}
/* End of BUTTONS classes */

/* Start of FORMS FLOATING LABELS */
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
  height: 3.125rem;
  padding: 0.75rem;
}

.form-label-group label {
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  /* color: #495057; */
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder,
.form-label-group input:-moz-placeholder {
  color: transparent;
  opacity: 0;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:-moz-placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:-ms-input-placeholder) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:-moz-placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:-ms-input-placeholder) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
  -------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .form-label-group label {
    position: static;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}
/* End of FORMS FLOATING LABELS */

@media screen and (min-width: 768px) {
  .modal-dialog {
    top: 12rem;
  }
}

@media screen and (min-width: 576px) {
  #navbarSupportedContent {
    display: none;
  }
}

@media (max-width: 576px) {
  .dialog-language {
    max-width: 95%;
  }
}

/* SVG */
.svg img.white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.svg-bold-logo-type .height10 {
  height: 10px;
  width: auto;
  margin-bottom: 0.18rem;
}