@if $enable-pointer-cursor-for-buttons {
    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
      &:not(:disabled) {
        cursor: pointer;
      }
    }
  }

// Remove the default `border-radius` that macOS Chrome adds.
//
// Details at https://github.com/twbs/bootstrap/issues/24093
button {
    // stylelint-disable-next-line property-blacklist
    border-radius: 0;
  }
  
  // Work around a Firefox/IE bug where the transparent `button` background
  // results in a loss of the default `button` focus styles.
  //
  // Credit: https://github.com/suitcss/base/
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
  
  input,
  button,
  select,
  optgroup,
  textarea {
    margin: 0; // Remove the margin in Firefox and Safari
    font-family: inherit;
    @include font-size(inherit);
    line-height: inherit;
  }
  
  button,
  input {
    overflow: visible; // Show the overflow in Edge
  }
  
  button,
  select {
    text-transform: none; // Remove the inheritance of text transform in Firefox
  }